apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "extauthz.name" . }}-config
  namespace: {{ include "extauthz.namespace" . }}
  labels:
    {{- include "extauthz.labels" . | nindent 4 }}
immutable: {{ .Values.config.isImmutable | default false }}
data:
  config.yaml: |-
    # Based on github.com/openkcm/common-sdk/pkg/commoncfg
    application:
      name: {{ include "extauthz.name" . }}
      {{- with .Values.config.environment }}
      environment: {{ . }}
      {{- end }}
      {{- with .Values.config.labels }}
      labels:
        {{- toYaml . | nindent 8 }}
      {{- end }}

    {{- with .Values.config.featureGates }}
    featureGates:
      {{- toYaml . | nindent 6 }}
    {{- end }}

    {{- with .Values.config.logger }}
    logger:
      {{- toYaml . | nindent 6 }}
    {{- end }}

    {{- with .Values.config.status }}
    status:
      {{- toYaml . | nindent 6 }}
    {{- end }}

    {{- with .Values.config.telemetry }}
    telemetry:
      {{- toYaml . | nindent 6 }}
    {{- end }}

    # Based on github.com/openkcm/extauthz/pkg/config
    {{- with .Values.config.grpcServer }}
    grpcServer:
      {{- toYaml . | nindent 6 }}
    {{- end }}

    # Cedar configuration
    {{- with .Values.config.cedar }}
    cedar:
      {{- toYaml . | nindent 6 }}
    {{- end }}

    # Client Certificate handling
    {{- with .Values.config.mtls }}
    mtls:
      {{- toYaml . | nindent 6 }}
    {{- end }}

    # JWT Token handling
    {{- with .Values.config.jwt }}
    jwt:
      {{- toYaml . | nindent 6 }}
    {{- end }}

    {{- with .Values.config.clientData }}
    clientData:
      {{- toYaml . | nindent 6 }}
    {{- end }}

    {{- with .Values.config.sessionPathPrefixes }}
    sessionPathPrefixes:
      {{- toYaml . | nindent 6 }}
    {{- end }}

    {{- with .Values.config.sessionManager }}
    sessionManager:
      {{- toYaml . | nindent 6 }}
    {{- end }}

    {{- with .Values.config.csrfSecret }}
    csrfSecret:
      {{- toYaml . | nindent 6 }}
    {{- end }}
