# Example configuration file for extauthz

# Based on github.com/openkcm/common-sdk/pkg/commoncfg
application:
  name: extauthz
  environment: development

featureGates:
  enrich-header-with-client-type: false
  enrich-header-with-client-region: false
  disable-client-certificate-computation: false
  disable-jwt-token-computation: false
  disable-jwt-token-introspection: false
  disable-client-data-computation: false
  enable-http-issuer-scheme: false

logger:
  level: debug # one of: debug, info, warn, error
  format: text # one of: json, text

status: # status server configuration
  enabled: true
  address: :8080
  profiling: true

# Based on github.com/openkcm/extauthz/pkg/config
grpcServer: # ext_authz gRPC server configuration
  address: :9092
  flags:
    health: true
    reflection: true

# Path to Cedar policy files
cedar:
  policyPath: ./

# Client Certificate handling
mtls:
  trustedSubjectsYaml: ./trustedSubjects.yaml

# JWT Token handling
jwt:
  issuerClaimKeys:
    - iss
  providers:
    - issuer: https://my.oidc.jwt.provider.com/
      audiences:
        - my-audience
  providerSource:
    address: localhost:5555
    secretRef:
      type: insecure

clientData:
  # Signing client data
  signingKeyIDFilePath: ./keyId

sessionCache:
  enabled: true
  valkey:
    address:
      source: embedded
      value: localhost:6379 # integration tests replace this value, be careful when changing
    user:
      source: embedded
      value: ""
    password:
      source: embedded
      value: secret
    prefix: session-manager
    secretRef:
      type: insecure
