apiVersion: v1
kind: ConfigMap
metadata:
  name: extauthz-systems-policies
immutable: false
data:
  systems.cedar: |-
    // Technical system based on x509
    permit (
      principal == Subject::"CN=TechSys01, OU=MyUnit, O=MyOrg, C=DE",
      action in [Action::"GET", Action::"POST", Action::"DELETE"],
      resource
    ) when {
      context.type == "x509" &&
      context.host == "myorg.com" &&
      context.path like "/api/*" &&
      context.issuer == "CN=MyCA, OU=MyUnit, O=MyOrg, C=DE"
    };
    // Technical system based on JWT
    permit (
      principal == Subject::"TechSys02",
      action in [Action::"GET", Action::"POST", Action::"DELETE"],
      resource
    ) when {
      context.type == "jwt" &&
      context.host == "myorg.com" &&
      context.path like "/api/*" &&
      context.issuer == "https://iam.myorg.com/"
    };
