apiVersion: v1
kind: ConfigMap
metadata:
  name: extauthz-users-policies
immutable: false
data:
  users.cedar: |-
    // Users based on JWT accessing the CMK Backend via the CMK UI
    permit (
      principal is Subject,
      action in [Action::"GET", Action::"POST"],
      resource
    ) when {
      context.type == "jwt" &&
      context.host == "myorg.com" &&
      context.path like "/cmk/*" &&
      context.issuer == "https://iam.myorg.com/"
    };
